  <h1 style="color: #5fd14b;font-family: 'VT323', monospace; font-size: 800%;" align=center >New Scheduling</h1>

<div class="container" style="float:left;">
  <%= render 'form', scheduling: @scheduling %>
  <%= link_to 'Back', schedulings_path %>
</div>